[submodule "crazyflie-clients-python"]
	path = crazyflie-clients-python
	url = https://github.com/bitcraze/crazyflie-clients-python.git
[submodule "crazyflie-lib-python"]
	path = crazyflie-lib-python
	url = https://github.com/bitcraze/crazyflie-lib-python.git
[submodule "crazyradio-firmware"]
	path = crazyradio-firmware
	url = https://github.com/bitcraze/crazyradio-firmware.git
[submodule "crazyflie2-nrf-firmware"]
	path = crazyflie2-nrf-firmware
	url = https://github.com/bitcraze/crazyflie2-nrf-firmware.git
[submodule "quad_nn_firmware"]
	path = quad_nn_firmware
	url = https://github.com/TaoChenOSU/quad_nn_firmware.git
[submodule "ros_ws/src/crazyflie_ros"]
	path = ros_ws/src/crazyflie_ros
	url = https://github.com/TaoChenOSU/crazyflie_ros.git
[submodule "ros_ws/src/externalDependencies/libmotioncapture"]
	path = ros_ws/src/externalDependencies/libmotioncapture
	url = https://github.com/USC-ACTLab/libmotioncapture.git
[submodule "ros_ws/src/externalDependencies/libobjecttracker"]
	path = ros_ws/src/externalDependencies/libobjecttracker
	url = https://github.com/USC-ACTLab/libobjecttracker.git
